[submodule "kibana"]
	path = kibana
	url = https://github.com/example42/puppet-kibana
[submodule "elasticsearch"]
	path = elasticsearch
	url = https://github.com/stdmod/puppet-elasticsearch
[submodule "openssh"]
	path = openssh
	url = https://github.com/stdmod/puppet-openssh
[submodule "redis"]
	path = redis
	url = https://github.com/stdmod/puppet-redis
[submodule "wget"]
	path = wget
	url = https://github.com/stdmod/puppet-wget
[submodule "collectd"]
	path = collectd
	url = https://github.com/example42/puppet-collectd
